@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ZenMaruGothic';
  src: url('/fonts/ZenMaruGothic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}